 
  .theme-zinc {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.705 0.015 286.067);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.015 286.067);
  
    @variant dark {
      --background: oklch(0.141 0.005 285.823);
      --foreground: oklch(0.985 0 0);
      --card: oklch(0.21 0.006 285.885);
      --card-foreground: oklch(0.985 0 0);
      --popover: oklch(0.21 0.006 285.885);
      --popover-foreground: oklch(0.985 0 0);
      --primary: oklch(0.92 0.004 286.32);
      --primary-foreground: oklch(0.21 0.006 285.885);
      --secondary: oklch(0.274 0.006 286.033);
      --secondary-foreground: oklch(0.985 0 0);
      --muted: oklch(0.274 0.006 286.033);
      --muted-foreground: oklch(0.705 0.015 286.067);
      --accent: oklch(0.274 0.006 286.033);
      --accent-foreground: oklch(0.985 0 0);
      --destructive: oklch(0.704 0.191 22.216);
      --border: oklch(1 0 0 / 10%);
      --input: oklch(1 0 0 / 15%);
      --ring: oklch(0.552 0.016 285.938);
      --chart-1: oklch(0.488 0.243 264.376);
      --chart-2: oklch(0.696 0.17 162.48);
      --chart-3: oklch(0.769 0.188 70.08);
      --chart-4: oklch(0.627 0.265 303.9);
      --chart-5: oklch(0.645 0.246 16.439);
      --sidebar: oklch(0.21 0.006 285.885);
      --sidebar-foreground: oklch(0.985 0 0);
      --sidebar-primary: oklch(0.488 0.243 264.376);
      --sidebar-primary-foreground: oklch(0.985 0 0);
      --sidebar-accent: oklch(0.274 0.006 286.033);
      --sidebar-accent-foreground: oklch(0.985 0 0);
      --sidebar-border: oklch(1 0 0 / 10%);
      --sidebar-ring: oklch(0.552 0.016 285.938);
    }
  }

  .theme-indigo {
    --font-sans: var(--font-noto-mono);
    
    --primary: var(--color-indigo-600); /* Updated from blue */
    --primary-foreground: var(--color-indigo-50); /* Updated from blue */
    --chart-1: var(--color-indigo-800); /* Updated from blue */
    --chart-2: var(--color-indigo-700); /* Updated from blue */
    --chart-3: var(--color-indigo-600); /* Updated from blue */
    --chart-4: var(--color-indigo-500); /* Updated from blue */
    --chart-5: var(--color-indigo-400); /* Updated from blue */
  
    [data-slot="chart"] {
      --chart-1: var(--color-indigo-800); /* Updated from blue */
      --chart-2: var(--color-indigo-700); /* Updated from blue */
      --chart-3: var(--color-indigo-600); /* Updated from blue */
      --chart-4: var(--color-indigo-500); /* Updated from blue */
      --chart-5: var(--color-indigo-400); /* Updated from blue */
    }
  
    .shadow-sm {
      box-shadow: none;
    }
  
    @variant dark {
      --primary: var(--color-indigo-600); /* Updated from blue */
      --primary-foreground: var(--color-indigo-50); /* Updated from blue */
      --chart-1: var(--color-indigo-900); /* Updated from blue */
      --chart-2: var(--color-indigo-800); /* Updated from blue */
      --chart-3: var(--color-indigo-700); /* Updated from blue */
      --chart-4: var(--color-indigo-600); /* Updated from blue */
      --chart-5: var(--color-indigo-500); /* Updated from blue */
  
      [data-slot="chart"] {
        --chart-1: var(--color-indigo-900); /* Updated from blue */
        --chart-2: var(--color-indigo-800); /* Updated from blue */
        --chart-3: var(--color-indigo-700); /* Updated from blue */
        --chart-4: var(--color-indigo-600); /* Updated from blue */
        --chart-5: var(--color-indigo-500); /* Updated from blue */
      }
    }
  }

  
  .theme-blue {
    --font-sans: var(--font-noto-mono);
    
    --primary: var(--color-blue-600); /* Updated from violet */
    --primary-foreground: var(--color-blue-50); /* Updated from violet */
    --chart-1: var(--color-blue-800); /* Updated from indigo */
    --chart-2: var(--color-blue-700); /* Updated from indigo */
    --chart-3: var(--color-blue-600); /* Updated from indigo */
    --chart-4: var(--color-blue-500); /* Updated from indigo */
    --chart-5: var(--color-blue-400); /* Updated from indigo */
  
    [data-slot="chart"] {
      --chart-1: var(--color-blue-800); /* Updated from indigo */
      --chart-2: var(--color-blue-700); /* Updated from indigo */
      --chart-3: var(--color-blue-600); /* Updated from indigo */
      --chart-4: var(--color-blue-500); /* Updated from indigo */
      --chart-5: var(--color-blue-400); /* Updated from indigo */
    }
  
    .shadow-sm {
      box-shadow: none;
    }
  
    @variant dark {
      --primary: var(--color-blue-600); /* Updated from violet */
      --primary-foreground: var(--color-blue-50); /* Updated from violet */
      --chart-1: var(--color-blue-900); /* Updated from indigo */
      --chart-2: var(--color-blue-800); /* Updated from indigo */
      --chart-3: var(--color-blue-700); /* Updated from indigo */
      --chart-4: var(--color-blue-600); /* Updated from indigo */
      --chart-5: var(--color-blue-500); /* Updated from indigo */
  
      [data-slot="chart"] {
        --chart-1: var(--color-blue-900); /* Updated from indigo */
        --chart-2: var(--color-blue-800); /* Updated from indigo */
        --chart-3: var(--color-blue-700); /* Updated from indigo */
        --chart-4: var(--color-blue-600); /* Updated from indigo */
        --chart-5: var(--color-blue-500); /* Updated from indigo */
      }
    }
  }
  
  
  .theme-purple {
    --font-sans: var(--font-noto-mono);
    
    --primary: var(--color-violet-600);
    --primary-foreground: var(--color-violet-50);
    --chart-1: var(--color-violet-800);
    --chart-2: var(--color-violet-700);
    --chart-3: var(--color-violet-600);
    --chart-4: var(--color-violet-500);
    --chart-5: var(--color-violet-400);
  
    [data-slot="chart"] {
      --chart-1: var(--color-violet-800);
      --chart-2: var(--color-violet-700);
      --chart-3: var(--color-violet-600);
      --chart-4: var(--color-violet-500);
      --chart-5: var(--color-violet-400);
    }
  
    .shadow-sm {
      box-shadow: none;
    }
  
    @variant dark {
      --primary: var(--color-violet-600);
      --primary-foreground: var(--color-violet-50);
      --chart-1: var(--color-violet-900);
      --chart-2: var(--color-violet-800);
      --chart-3: var(--color-violet-700);
      --chart-4: var(--color-violet-600);
      --chart-5: var(--color-violet-500);
  
      [data-slot="chart"] {
        --chart-1: var(--color-violet-900);
        --chart-2: var(--color-violet-800);
        --chart-3: var(--color-violet-700);
        --chart-4: var(--color-violet-600);
        --chart-5: var(--color-violet-500);
      }
    }
  }
  
  .theme-green {
    --font-sans: var(--font-noto-mono);
    
    --primary: var(--color-emerald-600);
    --primary-foreground: var(--color-emerald-50);
    --chart-1: var(--color-emerald-800);
    --chart-2: var(--color-emerald-700);
    --chart-3: var(--color-emerald-600);
    --chart-4: var(--color-emerald-500);
    --chart-5: var(--color-emerald-400);
  
    [data-slot="chart"] {
      --chart-1: var(--color-emerald-800);
      --chart-2: var(--color-emerald-700);
      --chart-3: var(--color-emerald-600);
      --chart-4: var(--color-emerald-500);
      --chart-5: var(--color-emerald-400);
    }
  
    .shadow-sm {
      box-shadow: none;
    }
  
    @variant dark {
      --primary: var(--color-emerald-600);
      --primary-foreground: var(--color-emerald-50);
      --chart-1: var(--color-emerald-900);
      --chart-2: var(--color-emerald-800);
      --chart-3: var(--color-emerald-700);
      --chart-4: var(--color-emerald-600);
      --chart-5: var(--color-emerald-500);
  
      [data-slot="chart"] {
        --chart-1: var(--color-emerald-900);
        --chart-2: var(--color-emerald-800);
        --chart-3: var(--color-emerald-700);
        --chart-4: var(--color-emerald-600);
        --chart-5: var(--color-emerald-500);
      }
    }
  }

  
  .theme-blue {
    --font-sans: var(--font-inter);
    --text-sm: 0.85rem;
    --radius: 0rem;
    --spacing: 0.222222rem;
    --primary: var(--color-blue-600);
    --primary-foreground: var(--color-blue-50);
    --chart-1: var(--color-blue-800);
    --chart-2: var(--color-blue-700);
    --chart-3: var(--color-blue-600);
    --chart-4: var(--color-blue-500);
    --chart-5: var(--color-blue-400);
  
    [data-slot="chart"] {
      --chart-1: var(--color-blue-800);
      --chart-2: var(--color-blue-700);
      --chart-3: var(--color-blue-600);
      --chart-4: var(--color-blue-500);
      --chart-5: var(--color-blue-400);
    }
  
    .rounded-xl {
      border-radius: var(--radius);
    }
  
    .shadow-sm {
      box-shadow: none;
    }
  
    @variant dark {
      --primary: var(--color-blue-600);
      --primary-foreground: var(--color-blue-50);
      --chart-1: var(--color-blue-800);
      --chart-2: var(--color-blue-700);
      --chart-3: var(--color-blue-600);
      --chart-4: var(--color-blue-500);
      --chart-5: var(--color-blue-400);
  
      [data-slot="chart"] {
        --chart-1: var(--color-blue-800);
        --chart-2: var(--color-blue-700);
        --chart-3: var(--color-blue-600);
        --chart-4: var(--color-blue-500);
        --chart-5: var(--color-blue-400);
      }
    }
  }
  
  .theme-red {
    --font-sans: var(--font-noto-mono);
    
    --primary: var(--color-rose-600);
    --primary-foreground: var(--color-rose-50);
    --chart-1: var(--color-rose-800);
    --chart-2: var(--color-rose-700);
    --chart-3: var(--color-rose-600);
    --chart-4: var(--color-rose-500);
    --chart-5: var(--color-rose-400);
    --sidebar: var( --color-rose-50);
    --sidebar-foreground: var(--color-rose-500);
    --sidebar-primary: var(--color-rose-600);
    --sidebar-primary-foreground: var(--color-rose-50);
    --sidebar-accent: var(--color-rose-600);
    --sidebar-accent-foreground: var(--color-rose-50);
    --sidebar-border: var(--color-rose-600);
    --sidebar-ring: var(--color-rose-600);
  
    [data-slot="chart"] {
      --chart-1: var(--color-rose-800);
      --chart-2: var(--color-rose-700);
      --chart-3: var(--color-rose-600);
      --chart-4: var(--color-rose-500);
      --chart-5: var(--color-rose-400);
    }
  
    .shadow-sm {
      box-shadow: none;
    }

    @variant dark {
      --primary: var(--color-rose-600);
      --primary-foreground: var(--color-rose-50);
      --chart-1: var(--color-rose-900);
      --chart-2: var(--color-rose-800);
      --chart-3: var(--color-rose-700);
      --chart-4: var(--color-rose-600);
      --chart-5: var(--color-rose-500);
      --sidebar: oklch(0.21 0.006 285.885);
      --sidebar-foreground: oklch(0.985 0 0);
      --sidebar-primary: oklch(0.488 0.243 264.376);
      --sidebar-primary-foreground: oklch(0.985 0 0);
      --sidebar-accent: oklch(0.274 0.006 286.033);
      --sidebar-accent-foreground: oklch(0.985 0 0);
      --sidebar-border: oklch(1 0 0 / 10%);
      --sidebar-ring: oklch(0.552 0.016 285.938);

      [data-slot="chart"] {
        --chart-1: var(--color-rose-900);
        --chart-2: var(--color-rose-800);
        --chart-3: var(--color-rose-700);
        --chart-4: var(--color-rose-600);
        --chart-5: var(--color-rose-500);
      }
    }
  }
  
  .theme-orange {
    --font-sans: var(--font-noto-mono);
    
    --primary: var(--color-orange-600);
    --primary-foreground: var(--color-orange-50);
    --chart-1: var(--color-orange-800);
    --chart-2: var(--color-orange-700);
    --chart-3: var(--color-orange-600);
    --chart-4: var(--color-orange-500);
    --chart-5: var(--color-orange-400);
  
    [data-slot="chart"] {
      --chart-1: var(--color-orange-800);
      --chart-2: var(--color-orange-700);
      --chart-3: var(--color-orange-600);
      --chart-4: var(--color-orange-500);
      --chart-5: var(--color-orange-400);
    }
  
    .shadow-sm {
      box-shadow: none;
    }
  
    @variant dark {
      --primary: var(--color-orange-600);
      --primary-foreground: var(--color-orange-50);
      --chart-1: var(--color-orange-900);
      --chart-2: var(--color-orange-800);
      --chart-3: var(--color-orange-700);
      --chart-4: var(--color-orange-600);
      --chart-5: var(--color-orange-500);
  
      [data-slot="chart"] {
        --chart-1: var(--color-orange-900);
        --chart-2: var(--color-orange-800);
        --chart-3: var(--color-orange-700);
        --chart-4: var(--color-orange-600);
        --chart-5: var(--color-orange-500);
      }
    }
  }

  .theme-small {
    --radius: 0.5rem;
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.75rem;
    --spacing: 0.222222rem;
  }